In [1]:
import pandas as pd

In [20]:
# norm_data = pd.read_excel(r'CKD_data_coded.xlsx')
agri_data = pd.read_excel(r'CKD among agricultural workers .xlsx')

ImportError: Missing optional dependency 'xlrd'. Install xlrd >= 2.0.1 for xls Excel support Use pip or conda to install xlrd.

In [ ]:
norm_data

,sssno,S.No,HUDName,cluster,ClusterName,Res_type,Res_type_coded,location,name,gender,...,gfr corrected potential CKD.1,SRCFINAL,SRCF,a,b,e,c,d,gfrs,CKD_result
0,1,336.0,Ariyalur,CKD001,Kadhankudikadu (Kavanur),VP,1,11.1343754 79.1924637 -10.73 12.88,Elayaperumal,1,...,1.0,2.13,2.13,2.366667,1.0,0.355660,0.611815,30.898986,31,0
1,2,366.0,Ariyalur,CKD001,Kadhankudikadu (Kavanur),VP,1,NaN,Anjalai,0,...,0.0,0.70,0.70,1.000000,1.0,1.000000,0.809405,116.314698,116,1
2,3,428.0,Ariyalur,CKD001,Kadhankudikadu (Kavanur),VP,1,NaN,alagar,1,...,0.0,1.10,1.10,1.222222,1.0,0.785995,0.751197,83.842030,84,1
3,4,511.0,Ariyalur,CKD001,Kadhankudikadu (Kavanur),VP,1,NaN,elavarasan,1,...,0.0,1.20,1.20,1.333333,1.0,0.708066,0.809405,81.381858,81,1
4,5,723.0,Ariyalur,CKD001,Kadhankudikadu (Kavanur),VP,1,NaN,kamalam,0,...,0.0,0.80,0.80,1.142857,1.0,0.851941,0.746539,91.396836,91,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4677,4680,4673.0,Villupuram,CKD175,Narayanapuram (Edapattu),VP,1,NaN,Kasthoori,0,...,0.0,1.00,1.00,1.428571,1.0,0.651805,0.680045,63.697742,64,1
4678,4681,4674.0,Villupuram,CKD175,Narayanapuram (Edapattu),VP,1,NaN,Ganesan,1,...,1.0,1.59,1.59,2.271429,1.0,0.373629,0.659223,35.395043,35,0
4679,4682,2994.0,Villupuram,CKD176,Kodur Morai Colony (Kodur),VP,1,NaN,karthikeyan,1,...,0.0,1.38,1.38,1.971429,1.0,0.442856,0.647038,41.177604,41,0
4680,4683,3015.0,Villupuram,CKD176,Kodur Morai Colony (Kodur),VP,1,NaN,jaganathan,1,...,0.0,2.46,2.46,3.514286,1.0,0.221307,0.639039,20.323188,20,0
4681,4684,3038.0,Villupuram,CKD176,Kodur Morai Colony (Kodur),VP,1,NaN,ponnammal,1,...,0.0,2.00,2.00,2.222222,1.0,0.383579,0.627227,34.163927,34,0